#contact {
  background-color: #e7f5f2;
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 100px;
  color: #aacfcf;
  text-align: center;
  margin-bottom: 0;
  margin-top:10px;
}

.style-one {
  border: 0;
  height: 2px;
  width: 1000px;
  background-image: -webkit-linear-gradient(left, #e0ece4, #bfdcae, #e0ece4);
  background-image: -moz-linear-gradient(left, #e0ece4, #bfdcae, #e0ece4);
  background-image: -ms-linear-gradient(left, #e0ece4, #bfdcae, #e0ece4);
  background-image: -o-linear-gradient(left, #e0ece4, #bfdcae, #e0ece4);
}

.developer{
  text-align: center;
  margin-bottom: 20px;
  color: #aacfcf;

}

strong{
  color: #aacfcf;
}

section {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: 'Concert One', cursive;
  color: #50bda1;
  margin-bottom:30px;
  font-size: 20px;
}

.box{
  margin-top: 50px;
}

p{
  text-align: center;

}

.menu-links {
  text-align: center;
  width: 100px;
  height: 30px;
  text-decoration: none;
  background-image: linear-gradient(-45deg, #a3f7bf, #96bb7c, #cff6cf);
  border-radius: 50px 0 50px 0;
  transition: all ease 0.1s;
  background-size: 400% 400%;
  background-position: 0 0;
  font-family: 'Concert One', cursive;

}

.menu-links:hover {
  border-radius: 0 50px 0 50px;
  background-position: 100% 50%;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: #5ba19b;
  font-family: 'Balsamiq Sans', cursive;
}
.gradient-border {
  --borderWidth: 5px;
  background: #bee4d2;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #bfdcae, #91d18b, #e0ece4, #bbd196, #cedebd, #ade498, #a3f7bf, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.icon{
  max-width:50px;
  max-height:50px;
}
